body{
    font-family:Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    background-color: black;
    padding: 30px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 3px;
}
h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: darkgray;

    letter-spacing: 10px;
    


}
h2{
    font-family:'Times New Roman', Times, serif;
    text-decoration: underline;
}
p1{
    color: white;
}
p2{
    color: white;
}
.box{

    width: 400px;
    padding: 20px;
    border: 3px solid;
    background: rgb(30, 19, 81);
    border-radius: 10px;
    margin: auto;
    margin-top: 40px;

}

p{
    color: white;
    font-family:Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 ;
}
#taskList li{
    border: 1px solid #ffffff;
    margin-top:12px;
    padding: 12px;
    margin: 10px;
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
    
}
#chartsContainer{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

#chartsContainer canvas{
    width: 250px !important;
    height: 250px !important;
    background: white;
    padding: 10px;
    border-radius: 10px;
}